{% extends "monsite/base.html" %}
{% load static %}

{% block content %}
<div class="container my-5">
    <h2 class="text-center mb-4">Nos Partenaires</h2>

    <!-- Filtres de tri -->
    <div class="mb-4 row">
        <div class="col-md-6 mb-2">
            <label for="typeSelect" class="form-label">Sélectionnez un type de partenaire :</label>
            <select id="typeSelect" class="custom-select" onchange="window.location.href = '?type_partenaire=' + this.value">
                <option value="" {% if not request.GET.type_partenaire %}selected{% endif %}>Trier par type</option>
                {% for type_partenaire in type_partenaire_list %}
                    <option value="{{ type_partenaire.nom }}" {% if request.GET.type_partenaire == type_partenaire.nom %}selected{% endif %}>{{ type_partenaire.nom }}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    <!-- Liste des partenaires -->
    <div class="row" id="partnerList">
        {% for partenaire in partenaires %}
            <div class="col-md-4 mb-4 partner-item">
                <a href="{{ partenaire.website_du_partenaire }}" target="_blank" class="card-link">
                    <div class="card shadow-sm" style="cursor: pointer;">
                        {% if partenaire.logo %}
                            <img src="{{ partenaire.logo.url }}" class="card-img-top" alt="{{ partenaire.nom }}">
                        {% else %}
                            <img src="{% static 'images/default-logo.png' %}" class="card-img-top" alt="Logo par défaut">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ partenaire.nom }}</h5>
                        </div>
                    </div>
                </a>
            </div>
        {% empty %}
            <div class="col-12 text-center">
                <p class="text-muted">Aucun partenaire trouvé.</p>
            </div>
        {% endfor %}
    </div>
</div>

<!-- Inclure le script pour le filtrage -->
<script src="{% static 'js/filters.js' %}"></script>

{% endblock %}
